body {
    font-family: 'Courier New', Courier, monospace;
    background: lavender;
    text-align: center;
}
header {
    font-size: 300%;
    background: pink;
}
ul {
    list-style: none;
    clear: both;

}
button {
    word-wrap: break-word;
    margin: 1%;
    
}
button:hover {
    background-color: gray;
}